:root {
  --hue: 100;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --nav-height: 7.2rem;
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%;
}

body {
  overflow: overlay;
  text-align: center;
  font-size: 1.6rem;

  background-color: var(--bg-light);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "DM Sans";
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
