:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --nav-height: 7.2rem;

  font-size: 62.5%;
}

body {
  overflow: overlay;
}

* {
  font-size: "DM Sans";
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
